
.hungarian-overlay {
    transition: .6s ease;
    opacity: 0;
}

.german-hungarian:hover .hungarian-overlay {
    opacity: 1;
}

.french-irish {
    transition: .6s ease;
    opacity: 0;
}

.french-irish:hover .irish-overlay {
    opacity: 1;
}


