
.german-hungarian:hover {
   background-image: url("./Images/Flag_of_Hungary.svg.png") no-repeat;
   display: inline-block;
   opacity: 1;
   width: 40%;
}

.french-irish:hover {
    background-image: url("./Images/Flag_of_Ireland.svg.png") no-repeat;
    display: inline-block;
    opacity: 1;
    width: 40%;
    
}
    

